<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Desenvolva uma aplicação em Angular2+ para um corretor de imóveis onde:<br>

Obrigatório:<br>
1) Possua tela de login.<br>

2) Opção de cadastro no login.<br>

3) Após realizar login deverá apareçar header e menu lateral.<br>

4) No menu deverá ter:<br>
	4.1) Opção para editar os dados do usuário<br>
	4.2) Opção para cadastrar imóveis*<br>
	4.3) Opção para acessar um dashboard**<br>

5) API em node ou python utilizando qualquer framework;<br>
	5.1) Deverá ser implementado JWT<br>
	5.2) Não precisa de banco de dados<br>
	5.3) A API só devera responder requisições autenticadas.<br>

6) Os códigos devem ser versionados no git, e compartilhados<br>

Imóveis:<br>
Além de conter os dados mínimos de um imóvel, deverá conter informações de compra e venda e tenha opção de anexar fotos do imóvel.<br>

Exemplo: valor de compra, valor de venda, percentual de lucro.<br>
Um imóvel cadastro pode não ter sido vendido, estaria em "estoque".<br>

*Dashboard:<br>
Os dados para gestão e controle do corretor.<br>
Nos apresente as informações extraindo o máximo dos dados disponíveis.<br>

Utilize tudo que souber do framework:<br>
Guarda de rota, Interceptor, Components, Services, etc.<br>

Tudo que for necessário para subir e realizar o teste/demonstração da aplicação deverá estar no README<br>

Extras:
Deploy da aplicação em qualquer serviço, por exemplo: Heroku<br>

Se faltou informação, algo não fez sentido ou está errado, tome a liberdade de aplicar a correção que julgar necessária e descreva o erro/solução no README.

Técnicamente irei avaliar o projeto, outras pessoas vão avaliar como se fossem os corretores. 
    </mat-card-subtitle>
</mat-card>
